html {
    font-family: 'Roboto', sans-serif;
}
nav {
    height: 50px;
    background-color: #212121;
    position: fixed;
    top: 0px;
    z-index: 3;
    width: 100%;
}
header {
    position: relative;
}
.menu {
    padding: 13px 70px;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.menu .menu-link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}

.menu .menu-item {
    border-right: 2px dotted black;
    padding-right: 30px;
}
.subheader {
    margin-top: 50px;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0,0,0, .6);
}
.subheader .subheader-logo {
    display: block;
    margin-top: 16px;
    max-width: 100%;

}
.subheader .subheader-official {
    border-top: 6px;
    color: rgba(256, 256, 256, .5);
    font-size: 13px;
    font-weight: 400;
}
.subheader .subheader-text-1 {
    text-align: center;
    margin-top: 18px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
}
.subheader .subheader-text-2 {
    margin-top: 8px;
}
.subheader .subheader-text-2 a {
    text-align: center;
    color: #ffffff;
    font-size: 22px;
    line-height: 12px;
    font-weight: 400;
    text-transform: uppercase;
}
.subheader .subheader-btn  {
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    margin-top: 18px;
    border-radius: 4px;
}
.subheader .subheader-btn span {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo {
    padding: 151px 0 135px 0;
    min-height: 800px;
    background: url("../img/bg.jpg") center center/cover no-repeat;
}
.promo .promo-header {
    text-align: center;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}
.promo .promo-header span {
    font-size: 60px;
    font-weight: 700;
}
.promo .promo-subheader {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.promo .promo-btn {
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    border-radius: 4px;
    display: block;
    margin: 118px auto 0 auto;
    padding: 0;
}
.promo .promo-btn span {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.reason {
    min-height: 900px;
    padding: 71px 0 68px 0;
}
.reason .reason-btn {
    width: 112px;
    height: 24px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.reason .reason-header {
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 38px;
}
.reason .reason-img-bg {
    min-width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
}
.reason .reason-text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    margin-right: 102px;
}
.reason .reason-text span {
    /* Text style for "Н, икаких" */
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}
.reason .reason-col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}